.mainresultIngredients {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    height: 100%;
}

.empty {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
}

.resultIngredients {
    margin-top: 55px;
    width: 100%;
}

.mainCardIngredients {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

.cardIngredients {
    border: 1px solid black;
    border-radius: 12px;
    width: 350px;
    margin-bottom: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchNotFound {
    margin-top: 25px;
    margin-left: 25px;
}