.mainContainer {
    background: #F8F8FA;
    margin-left: 5%;
    margin-top: 55px;
    border-radius: 18px;
}

.title {
    margin-left: 5%;
    margin-top: 55px;
    color: #FB9400;
}

.searchConatiner {
    margin-top: 55px;
    margin-left: 7%;
    width: 20%;
}

.searchCard {
    margin-left: 25px;
    margin-top: 25px;
}

.addBtnContainer {
    float: right;
    display: flex;
}

.removeBtn {
    max-height: 18px;
    max-width: 18px;
}

.addBtn {
    cursor: pointer;
}

.searchBtn {
    margin-top: 40px;
    float: right;
}