.mainContainer {
    background: #F8F8FA;
    width: 70%;
    height: 100%;
    padding-bottom: 25px;
    margin: 25px auto;
    border-radius: 18px;
}

.resultIngredients {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: rgb(119, 73, 119);
}

.cardIngredients {
    border: 1px solid black;
    border-radius: 12px;
    width: 350px;
    margin-bottom: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title {
    color: rgb(247, 135, 44);
}

.imgCard {
    max-height: 310px;
    max-width: 310px;
}

@media screen and (max-width: 1080px) {
    .cardIngredients {
        width: 320px;
    }
}

@media screen and (max-width: 1010px) {
    .cardIngredients {
        width: 300px;
    }
    .imgCard {
        max-height: 280px;
        max-width: 280px;
    }
}

@media screen and (max-width: 875px) {
    .mainContainer {
        margin-left: 5%;
    }
    .cardIngredients {
        width: 260px;
    }
    .imgCard {
        max-height: 240px;
        max-width: 240px;
    }
}

@media screen and (max-width: 725px) {
    .cardIngredients {
        width: 210px;
    }
    .imgCard {
        max-height: 190px;
        max-width: 190px;
    }
}

@media screen and (max-width: 615px) {
    .cardIngredients {
        width: 195px;
    }
    .imgCard {
        max-height: 175px;
        max-width: 175px;
    }
}