.mainContainer {
    background: #F8F8FA;
    width: 70%;
    height: 100%;
    padding-bottom: 25px;
    margin: 25px auto;
    border-radius: 18px;
}

@media screen and (max-width: 500px) {
    .mainContainer {
        width: 100%;
    }
}