.searchContainer {
    height: 100%;
    width: 100%;
    margin-left: 10%;
}

.cardContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    width: 350px;
    margin-bottom: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imgCard {
    max-height: 231px;
    max-width: 312px;
}